* {
    padding: 0; 
    margin: 0;
    border: none;
}

.content-product{
    width: 82%;
    float: inline-end;
    display: block;
}

.prd {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    cursor: pointer;
    width: 310px;
    height: 80px;
    background-color: #eeeeed;
    border-radius: 30px;
    border: none;
    padding: 0 80px;
    transition: all .2s ease;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 25px;
   }
   
.prd:hover {
    transform: scale(1.0);
}
   
.ctn {
    position: absolute;
    z-index: 99;
    width: 100%;
    height:100%;
    border-radius: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 2px;
    color: #eeeeed;
    background-color: #a28b8b;
    transition: all 1.2s ease;
}
   
.blur {
    display: flex;
    width: 100%;
    border-radius: 30px;
    line-height: 50px;
    align-items: center;
    justify-content: center;
}   

.prd:hover .ctn {
    opacity: 0.1;
}

.name{
    width: 65%;
    height:100%;
    justify-content: left;
    align-items: center;
    background-color:teal;
    position:absolute;
    display: flex;
    padding-left: 20px;
}

.price{
    width: 35%;
    height:100%;
    justify-content:center;
    align-items: center;
    position: relative;
    display: flex;
    float: inline-end;
}

.box{
    width: 80%;
    height:70%;
    justify-content:center;
    align-items: center;
    background-color: rgb(1, 1, 1);
    margin-right: 30px;
    border-radius: 10px;
}